footer{
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
    color: white;
    background-color: black;
    align-items: center;
}
.pe a{
    color: white;
    transition: 100ms;
    text-decoration: none;
}
.pe a:hover{
    color: gray;
}
.pe img{
    width: 20px;
    transition: 100ms;
}
.pe img:hover{
    opacity: 0.7;
}